.post-comments {
    border: 1px solid $siteBorderColor;
    margin-left: $siteGutter;

    .comments {
        &-header {
            @include flexbox (space-between, center);
            padding: $siteGutter;
            border-bottom: 1px solid $siteBorderColor;

            .toggle-comments {
                text-decoration: underline;
            }
        }

        &-main {
            @include flexbox (flex-start);
            align-items: inherit;

            .comments {
                &-all {
                    padding: $siteGutter/2 $siteGutter;
                    @include flexbox (flex-start, flex-start);
                    flex-direction: column;
                    border-right: 1px solid $siteBorderColor;

                    .comment {
                        @include flexbox (flex-start, flex-start);
                        border-bottom: 1px solid $siteBorderColor;
                        margin-bottom: $siteGutter;
                        padding-bottom: $siteGutter/2;

                        &-author-pic {
                            @include reset();
                            flex-basis: 20rem;

                            & img {
                                object-fit: cover;
                                width: 4rem;
                                height: 4rem;
                                transform: inherit;
                                border-radius: 0;
                            }
                        }

                        &-details {
                            display: flex;
                            flex-direction: column;

                            &-reply {
                                margin-top: $siteGutter;
                                text-decoration: underline;
                            }
                        }

                        &:last-child {
                            border-bottom: inherit;
                        }
                    }

                }

                &-add-new {
                    padding: $siteGutter/2 $siteGutter;
                    @include flexbox (flex-start, flex-start);
                    flex-direction: column;

                    &-field {
                        @include flexbox (flex-start, flex-start);
                        flex-direction: column;
                        margin-bottom: $siteGutter;
                        width: 100%;


                        & input {
                            width: 100%;
                        }

                        & input, textarea {
                            border: none;
                            border-radius: 5px;
                            background: #f1f1f1;
                            padding: 1rem 0;
                            
                        }

                        &:last-child {
                            margin: 0;
                        }
                    }
                    &-field:nth-child(3) {
                        flex-grow: 1;
                    }
                }
            }
        }

    }
}