.site-content {
    margin-bottom: $siteGutter;
    &-wrapper {
        padding: 0 $siteGutter;
        @include flexbox (inherit, inherit);
        @media (max-width: $tabletMaxWidth) {
            flex-direction: column;

            .bottom-ads {
                display: none;
            }

            .floating-ads {
                @include flexbox (space-evenly, center);
                margin-bottom: $siteGutter;

                .ad-wrapper {
                    margin: 0;
                }
            }
        }

        @media (max-width: $mobileMaxWidth) {
            .floating-ads {
                flex-direction: column;

                .ad-wrapper {
                    margin-bottom: $siteGutter;
                }                
            }
        }
    }

    &-primary {
        .post {
            display: flex;

            &-content {
                p {
                    margin-bottom: $siteGutter;
                }

                margin: 0 $siteGutter;
                
                &-header {
                    font-weight: 700;

                    p {
                        border-bottom: 1px solid $siteBorderColor;
                        padding-bottom: 1.5rem;
                    }
                }
            }

            @media (max-width: $tabletMaxWidth) {
                flex-direction: column-reverse;
                align-items: center;

                .site-warnings {
                    @include flexbox (center, center);
                    margin-bottom: $siteGutter;

                    .warning {
                        max-width: 57rem;
                        width: auto;
                    }
                }
            }

            @media (max-width: $mobileMaxWidth) {
                .site-warnings .warning {
                    max-width: 20rem;
                }
            
            }
        }
        .site-content {
            margin-left: $siteGutter;

        }
    }


    &-secondary {
        display: flex;
        flex-direction: column;

        .floating-ads-container {
            flex-grow: 1;

            @media (min-width: $mobileMaxWidth) {
                .ad-wrapper:first-child {
                    margin: 0;
                }
            }
        }
    }
}

.site-warnings {
    .warning {
        width: 21rem;
        padding: 2rem;
        border: 5px solid #bf3918;
        color: white;
        background: #ec4a39;
    }
}

