.site-footer {
    @include flexbox (space-between, center);
    padding: 0 $siteGutter;
    height: 10rem;

    &-part {
        display: inline-block;
        font-weight: 700;
        font-size: 18px;
        &-aside {
            width: 10rem;
        }

        &-aside:last-child {
            text-align: right;
        }
    }
    @media (max-width: $mobileMaxWidth) {
        flex-direction: column;
        span {
            font-weight: 700;
        }
        
        &-part-aside {
            width: auto;
            
        }
    }
}