.site-footer {
    @include flexbox (space-between, center);
    height: 5rem;

    &-part {
        display: inline-block;

        &-aside {
            width: 10rem;
        }
    }

    @media (max-width: $mobileMaxWidth) {
        flex-direction: column;
        span {
            font-weight: 700;
        }
        
        &-part-aside {
            width: auto;
            
        }
    }
}