.site-header {
    height: $siteGutter *2;
    background: $siteMainColor;
    color: $siteMainFontColor;
    @include flexbox (space-between, center);

    & .site-side {
        @include flexbox (space-between, center);
    }

    & .site-left {
        min-width: 22rem;

        &-search {
            position: relative;
            height: 2.8rem;
            width: 20rem;
            border: 1px solid black;
            border-radius: 7px;
            overflow: hidden;
            margin-left: 1.5rem;
            
            &-input {
                color:white;
                width: 100%;
                border: none;
                background: $siteSecondColor;
                height: 100%;
                padding: 0 3rem 0 1rem;

                &::placeholder {
                    color: gray;
                }
            }

            &:after {
                position: absolute;
                top: 50%;
                right: 1rem;
                transform: translateY(-50%);
                content: url('../../src/media/search.svg')
            }
        }
        @media (max-width: $mobileMaxWidth) {
            min-width: inherit;
        }
    }
}

.site-navigation {
    min-width: 22rem;

    &-list {
        @include flexbox (flex-end, center);

        &-item a {
            color: $siteMainFontColor;
            padding: 1rem 1.5rem;
            font-weight: 700;
        }

        &-item:last-child a {
            padding-right: 0;
        }
    }
}