.site-sub-footer {
    background: $siteMainColor;
    color: $siteMainFontColor;
    padding: $siteGutter ;
    text-align: center;

    &-box {
        display: inline-block;
        margin: $siteGutter 0.5rem;
        & a {
            font-size: 18px;
            background: $siteMainFontColor;
            color: $siteMainColor;
            font-weight: 700;
            padding: 1.5rem 3rem;
        }
    }
}