body {
    margin: 4rem auto;
    padding: 0;
    max-width: 1250px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
}

.row {
    padding: 0 $siteGutter;
}

.author-avatar {
    margin-top: -3.5rem;
    margin-left: 2rem;
    position: relative;

    & img {
        transform: rotate(-15deg);
        object-fit: cover;
        border-radius: 10px;
        height: 6rem;
        width: 6rem;
    }
}

.btn {
    border: none;
    padding: 1rem;
    font-weight: 700;
}

.btn-primary {
    background: #046afb;
    color: #fff;
}

.ad-wrapper {
    position: relative;
    height: 250px;
    display: block;
    width: 300px;
    margin-top: $siteGutter;

    img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        bottom: 0;

    }
}

.bottom-ads {
    margin-top: $siteGutter;

    .ad-wrapper {
        margin: 0;
    }
}